<!-- Failed screen for login! -->

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="failed_text">
            <h1> <strong> Login was not successful! </strong> </h1>
            <p>The given credentials Are false! double check the input...</p>
            
        </div>
        <div class="return_button2">
            <form>
                <button type="submit" formmethod="get" formaction="{{ url_for('login_page') }}">Return to the login page!🔙</button>
            </form>
        </div>
    </body>
</html>