<!--The main page. Will contain link to the login page! -->
{% extends "page_template.html" %}
<!DOCTYPE html>

{% block title %}
{% endblock title %}

{% block content %}
    <div class="main_text">
        <h1><strong>The Signup page!</strong></h1>
        <p>Welcome! To register an account, please input the details below. <br>Make sure to follow the instructions!</p>
    </div>    
    <main>
        {% block sign_content %}
        {% endblock sign_content %}
    </main>

{% endblock content %}
